.dusk-toast-container {
  position: fixed;
  z-index: var(--viewport-plane-ephemeral);
  display: flex;
  inline-size: min(
    20rem,
    calc(100dvi - (var(--display-box-compact-padding-inline) * 2))
  );
  overflow: visible;
  list-style-type: none;
  pointer-events: auto;
  gap: var(--display-box-standard-gap);
  max-block-size: calc(100dvb - (var(--display-box-compact-padding-block) * 2));
}

.dusk-toast-container--placement--top-left,
.dusk-toast-container--placement--top-right {
  flex-direction: column;
  inset-block-start: var(--display-box-compact-padding-block);
}

.dusk-toast-container--placement--bottom-left,
.dusk-toast-container--placement--bottom-right {
  flex-direction: column-reverse;
  inset-block-end: var(--display-box-compact-padding-block);
}

.dusk-toast-container--placement--bottom-left,
.dusk-toast-container--placement--top-left {
  left: var(--display-box-compact-padding-inline);
}

.dusk-toast-container--placement--bottom-right,
.dusk-toast-container--placement--top-right {
  right: var(--display-box-compact-padding-inline);
}
