.dusk-badge {
  padding: 0.3rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-width: calc(var(--control-border-size) * 2);
  border-radius: var(--control-border-radius-size);
}

.dusk-badge--variant-neutral {
  color: var(--on-background-color);
  background-color: transparent;
  border-color: var(--on-background-color);
}

.dusk-badge--variant-warning {
  color: var(--on-warning-color);
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}

.dusk-badge--variant-error {
  color: var(--on-error-color);
  background-color: var(--error-color);
  border-color: var(--error-color);
}

.dusk-badge--variant-success {
  color: var(--on-success-color);
  background-color: var(--success-color);
  border-color: var(--success-color);
}
