.dusk-exclusive-choice {
  display: inline-grid;
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--interactive-field-bg-color);
  border-color: var(--interactive-field-border-color);
  border-style: solid;
  border-width: var(--interactive-control-border-width);
  border-radius: var(--interactive-control-border-radius-rounded-size);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.dusk-exclusive-choice__label {
  --_label-bg-color: transparent;
  --_label-text-color: var(--interactive-field-text-color);

  min-width: 0;
  overflow: hidden;
  font-family: inherit;
  font-size: var(--interactive-control-compact-text-size);
  line-height: 1.5;
  color: var(--_label-text-color);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--_label-bg-color);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  padding-block: var(--interactive-control-standard-padding-block);
  padding-inline: var(--interactive-control-standard-padding-inline);
}

.dusk-exclusive-choice__label:not(:first-of-type) {
  border-inline-start-style: solid;
  border-inline-start-width: var(--interactive-control-border-width);
  border-inline-start-color: var(--interactive-field-border-color);
}

.dusk-exclusive-choice__radio {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.dusk-exclusive-choice__radio:enabled:not(:checked)
  + .dusk-exclusive-choice__label:hover {
  --_label-bg-color: var(--interactive-selection-hover-bg-color);
}

.dusk-exclusive-choice__radio:checked + .dusk-exclusive-choice__label {
  --_label-bg-color: var(--interactive-toggle-on-color);
  --_label-text-color: var(--interactive-toggle-on-mark-color);
}

.dusk-exclusive-choice__radio:focus-visible + .dusk-exclusive-choice__label {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}

.dusk-exclusive-choice__radio:disabled + .dusk-exclusive-choice__label {
  opacity: 0.5;
}
