.dusk-tooltip {
  --_tooltip-opacity: 1;
  --_tooltip-visibility: visible;
  --_tooltip-tip-size: var(--display-box-compact-gap);
  --_tooltip-half-tip-size: calc(var(--_tooltip-tip-size) / 2);
  --_tooltip-tip-main-axis-offset: -0.0625rem;

  position: fixed;
  z-index: var(--viewport-plane-topmost);
  display: inline-block;
  font-family: var(--display-label-text-family);
  font-size: var(--display-label-text-size);
  line-height: 1.5;
  color: var(--display-tooltip-text-color);
  letter-spacing: var(--display-label-text-letter-spacing);
  white-space: break-spaces;
  visibility: var(--_tooltip-visibility);
  background-color: var(--display-tooltip-bg-color);
  border-radius: var(--display-box-radius-slight-size);
  opacity: var(--_tooltip-opacity);
  transition: opacity 0.2s ease-in-out 0s;
  max-inline-size: min(20rem, 90dvi);
  padding-block: var(--display-box-compact-padding-block);
  padding-inline: var(--display-box-compact-padding-inline);
}

.dusk-tooltip[aria-hidden="true"] {
  --_tooltip-opacity: 0;
  --_tooltip-visibility: hidden;
}

.dusk-tooltip::after {
  position: absolute;
  display: inline-block;
  pointer-events: none;
  content: "";
  background-color: inherit;
  border: inherit;
  transform: rotate(45deg);
  transform-origin: center;
  inline-size: var(--_tooltip-tip-size);
  block-size: var(--_tooltip-tip-size);
}

.dusk-tooltip.dusk-tooltip--place--bottom::after {
  inset-block-end: 100%;
  inset-inline-start: 50%;
  margin-block-end: calc(
    var(--_tooltip-half-tip-size) * -1 + var(--_tooltip-tip-main-axis-offset)
  );
  margin-inline-start: calc(var(--_tooltip-half-tip-size) * -1);
  border-block-end-color: transparent;
  border-inline-end-color: transparent;
}

.dusk-tooltip.dusk-tooltip--place--left::after {
  inset-block-start: 50%;
  inset-inline-start: 100%;
  margin-block-start: calc(var(--_tooltip-half-tip-size) * -1);
  margin-inline-start: calc(
    var(--_tooltip-half-tip-size) * -1 + var(--_tooltip-tip-main-axis-offset)
  );
  border-block-end-color: transparent;
  border-inline-start-color: transparent;
}

.dusk-tooltip.dusk-tooltip--place--right::after {
  inset-block-start: 50%;
  inset-inline-end: 100%;
  margin-block-start: calc(var(--_tooltip-half-tip-size) * -1);
  margin-inline-end: calc(
    var(--_tooltip-half-tip-size) * -1 + var(--_tooltip-tip-main-axis-offset)
  );
  border-block-start-color: transparent;
  border-inline-end-color: transparent;
}

.dusk-tooltip.dusk-tooltip--place--top::after {
  inset-block-start: 100%;
  inset-inline-start: 50%;
  margin-block-start: calc(
    var(--_tooltip-half-tip-size) * -1 + var(--_tooltip-tip-main-axis-offset)
  );
  margin-inline-start: calc(var(--_tooltip-half-tip-size) * -1);
  border-block-start-color: transparent;
  border-inline-start-color: transparent;
}
