.dusk-icon {
  display: inline-block;
  fill: currentcolor;
}

.dusk-icon rect {
  width: 100%;
  height: 100%;
  fill: transparent;
}

.dusk-icon--size--normal {
  width: var(--icon-size);
  height: var(--icon-size);
}

.dusk-icon--size--large {
  width: calc(var(--icon-size) * var(--scaler));
  height: calc(var(--icon-size) * var(--scaler));
}

.dusk-icon--size--small {
  width: calc(var(--icon-size) / var(--scaler));
  height: calc(var(--icon-size) / var(--scaler));
}

.dusk-icon--circular {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.dusk-icon--circular svg {
  max-width: 70%;
  height: 70%;
}
