.duk-slider {
	-webkit-appearance: none;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	@apply bg-jet h-4 w-full rounded-2xl opacity-75;
}

.duk-slider:hover {
	@apply opacity-100;
}

.duk-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	@apply bg-cornflower cursor-pointer rounded-full;
}

.duk-slider::-moz-range-thumb {
	-moz-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	@apply cursor-pointer rounded-full;
}
