.duk-control {
	@apply w-full p-5;

	.duk-button-wrapper {
		@apply justify-center;
	}

	&__label {
		@apply pr-3;
	}

	&__controls-wrapper {
		@apply flex items-center;
	}

	&__input {
		@apply w-full;
	}

	&__message {
		@apply mt-2 flex items-center justify-end space-x-2 text-sm;

		min-height: 1.5rem;

		& > p:empty::before {
			content: "\00a0";
		}
	}

	&--start {
		^&__controls-wrapper {
			@apply justify-start;
		}
	}

	&--center {
		^&__controls-wrapper {
			@apply justify-center;
		}
	}

	&--end {
		^&__controls-wrapper {
			@apply justify-end;
		}
	}

	&--stacked {
		&:not(:last-child) {
			@apply pb-0;
		}

		^&__label {
			@apply mb-1;
		}

		^&__input {
			flex: 2;
		}
	}

	&--inline-fixed {
		&:not(:last-child) {
			@apply pb-0;
		}

		^&__wrapper {
			@apply mb-3 flex w-full items-center justify-center text-right;
			@apply md:justify-start;
		}

		^&__label {
			flex: 1;
		}

		^&__input {
			flex: 2;
		}
	}

	&--inline-flex {
		&:not(:last-child) {
			@apply pb-0;
		}

		^&__wrapper {
			@apply mb-3 flex w-full items-center justify-center;
			@apply md:justify-start;
		}

		^&__input {
			flex: 1;
		}
	}

	&--success {
		^&__label,
		^&__message {
			@apply text-success not-italic;
		}
	}

	&--attention {
		^&__label,
		^&__message {
			@apply text-attention not-italic;
		}
	}

	&--warning {
		^&__label,
		^&__message {
			@apply text-warning not-italic;
		}
	}

	&--full {
		@apply w-full;
	}
	&--half {
		@apply sm:w-1/2;
	}
	&--quarter {
		@apply sm:w-1/4;
	}
}
