.turbo
.cache
.env
.DS_Store
.pnpm-debug.log
.vitest-test-results.json
.vscode
.svelte
.svelte-kit
.histoire
node_modules
build
dist
storybook-static
build-storybook.log
coverage
docs
pnpm-global
lefthook.yml
.nvmrc
*.code-workspace
