{
	"endOfLine": "lf",
	"printWidth": 100,
	"semi": true,
	"singleQuote": false,
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"plugins": [
		"prettier-plugin-packagejson",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	]
}
