.dusk-tabs {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  color: var(--on-surface-color);
  flex-direction: row;
  background-color: var(--surface-color);
  border: var(--control-border-size) solid var(--surface-border-color);
  border-radius: var(--control-border-radius-size);
  align-items: center;
  justify-content: center;
}

.dusk-button.dusk-icon-button.dusk-tab-scroll-button {
  padding: 0;
  border: 0;
}

.dusk-button.dusk-icon-button.dusk-tab-scroll-button:enabled:focus {
  box-shadow: none;
}

.dusk-button.dusk-icon-button.dusk-tab-scroll-button > .dusk-icon {
  width: var(--control-icon-size);
  height: var(--control-icon-size);
}

.dusk-button.dusk-icon-button.dusk-tab-scroll-button--hidden {
  display: none;
}

.dusk-tabs-list {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  list-style-type: none;
  cursor: default;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: contain;
}

.dusk-tabs-list::-webkit-scrollbar {
  display: none;
}

.dusk-tab-item {
  position: relative;
  display: inline-flex;
  padding: var(--control-small-padding);
  font-size: var(--control-font-size);
  font-weight: 500;
  line-height: 1;
  flex: 50%;
  align-items: center;
  justify-content: center;
  gap: var(--small-gap);
}

.dusk-tab-item,
.dusk-tab-item > * {
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, transform;
}

.dusk-tab-item > .dusk-tab-label {
  display: none;
}

.dusk-tab-item--selected > .dusk-tab-label,
.dusk-tab-item > span:only-child {
  display: block;
}

.dusk-tab-item:focus-visible {
  color: var(--cornflower-light);
  outline: 0 none;
}

.dusk-tab-item:hover:not(.dusk-tab-item--selected) {
  background-color: var(--surface-alt-color);
}

.dusk-tab-item--selected {
  color: var(--cornflower-light);
  background-color: var(--graphite);
}

.dusk-tab-item--selected > .dusk-tab-label {
  color: var(--primary-color);
}

.dusk-tab-item > .dusk-icon {
  width: var(--control-icon-size);
  height: var(--control-icon-size);
}
