.dusk-tabs {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-inline-size: 100%;
  gap: var(--interactive-control-compact-gap);
}

.dusk-tab-scroll-button:enabled:hover:not(:active) {
  scale: 1;
}

.dusk-button.dusk-icon-button.dusk-tab-scroll-button--hidden {
  display: none;
}

.dusk-tabs-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  list-style-type: none;
  cursor: default;
  user-select: none;
  inline-size: 100%;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dusk-tabs-list::-webkit-scrollbar {
  display: none;
}

.dusk-tab-item {
  --_tab-bg-color: var(--interactive-tab-bg-color);
  --_tab-text-color: var(--interactive-tab-text-color);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
  min-block-size: var(--interactive-control-standard-min-block-size);
  gap: var(--interactive-control-standard-gap);
  padding-block: var(--interactive-control-standard-padding-block);
  padding-inline: var(--interactive-control-standard-padding-inline);
  font-size: var(--interactive-control-standard-text-size);
  line-height: 1.5;
  color: var(--_tab-text-color);
  background-color: var(--_tab-bg-color);
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: var(
    --interactive-control-border-radius-rounded-size
  );
  border-start-start-radius: var(
    --interactive-control-border-radius-rounded-size
  );
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.dusk-tab-item:focus-visible {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}

.dusk-tab-item:hover:not(.dusk-tab-item--selected) {
  --_tab-bg-color: var(--interactive-tab-hover-bg-color);
  --_tab-text-color: var(--interactive-tab-hover-text-color);
}

.dusk-tab-item--selected {
  --_tab-bg-color: var(--interactive-tab-selected-bg-color);
  --_tab-text-color: var(--interactive-tab-selected-text-color);
}
