.dusk-error-alert {
  display: flex;
  width: 100%;
  padding: var(--default-gap);
  color: var(--on-surface-color);
  flex-direction: column;
  background-color: var(--surface-color);
  border: var(--control-border-size) solid var(--surface-border-color);
  border-radius: var(--control-border-radius-size);
  align-items: center;
}

.dusk-error-alert.dusk-error-alert--gap--default {
  gap: var(--default-gap);
}

.dusk-error-alert.dusk-error-alert--gap--large {
  gap: var(--large-gap);
}

.dusk-error-alert.dusk-error-alert--gap--small {
  gap: var(--small-gap);
}
