.dusk-error-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dusk-error-alert.dusk-error-alert--gap--default {
  gap: var(--default-gap);
}

.dusk-error-alert.dusk-error-alert--gap--large {
  gap: var(--large-gap);
}

.dusk-error-alert.dusk-error-alert--gap--small {
  gap: var(--small-gap);
}
