.dusk-error-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dusk-error-alert.dusk-error-alert--default-gap {
  gap: var(--default-gap);
}

.dusk-error-alert.dusk-error-alert--large-gap {
  gap: var(--large-gap);
}

.dusk-error-alert.dusk-error-alert--small-gap {
  gap: var(--small-gap);
}
