.dusk-anchor-button:not(.dusk-anchor-button__disabled) {
  transition-delay: 0s;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, transform;
}

:is(.dusk-anchor-button:not(.dusk-anchor-button__disabled)):focus {
  border-color: var(--secondary-color-variant-dark);
  outline: 0 none;
  box-shadow: inset 0 0 0 var(--control-border-size)
    var(--secondary-color-variant-dark);
}

.dusk-anchor-button {
  text-align: center;
  text-decoration: none;
  appearance: button;
}

.dusk-anchor-button.dusk-anchor-button--disabled {
  pointer-events: none;
  cursor: default;
}

.dusk-anchor-button,
.dusk-anchor-button:visited {
  display: inline-flex;
  line-height: 1;
  text-transform: uppercase;
  border-style: solid;
  border-width: var(--control-border-size);
  border-radius: var(--control-border-radius-size);
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, transform;
  transform-origin: center center;
  align-items: center;
  justify-content: center;
}

.dusk-anchor-button.dusk-anchor-button--disabled,
.dusk-anchor-button.dusk-anchor-button--disabled:hover,
.dusk-anchor-button.dusk-anchor-button--disabled:visited {
  opacity: 0.5;
}

.dusk-anchor-button > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.dusk-anchor-button:not(.dusk-anchor-button--disabled):active {
  transform: scale(0.98, 0.98);
}

.dusk-icon-button:not(
    .dusk-icon-button-labeled
  ).dusk-anchor-button--variant--quaternary:not(
    .dusk-anchor-button--disabled
  ):hover {
  transform: scale(1.2, 1.2);
}

.dusk-icon-button:not(.dusk-icon-button-labeled).dusk-anchor-button:not(
    .dusk-anchor-button--disabled
  ):active {
  transform: scale(0.9, 0.9);
}

.dusk-anchor-button--size--normal,
.dusk-anchor-button--size--normal:visited {
  padding: var(--control-padding);
  font-size: var(--control-font-size);
  gap: calc(var(--control-font-size) / 2);
}

.dusk-anchor-button--size--small,
.dusk-anchor-button--size--small:visited {
  padding: var(--control-small-padding);
  font-size: var(--control-small-font-size);
  gap: calc(var(--control-small-font-size) / 2);
}

.dusk-anchor-button--variant--primary,
.dusk-anchor-button--variant--primary:visited {
  color: var(--control-text-color);
  background-color: var(--control-bg-color);
  border-color: var(--control-border-color);
}

.dusk-anchor-button--variant--primary:not(.dusk-anchor-button--disabled):active,
.dusk-anchor-button--variant--primary:not(.dusk-anchor-button--disabled):hover {
  color: var(--control-text-color-hover);
  background-color: var(--control-bg-color-hover);
  border-color: var(--control-border-color-hover);
}

.dusk-anchor-button--variant--secondary,
.dusk-anchor-button--variant--secondary:visited {
  color: var(--control-secondary-text-color);
  background-color: var(--control-secondary-bg-color);
  border-color: var(--control-secondary-border-color);
}

.dusk-anchor-button--variant--secondary:not(
    .dusk-anchor-button--disabled
  ):active,
.dusk-anchor-button--variant--secondary:not(
    .dusk-anchor-button--disabled
  ):hover {
  color: var(--control-secondary-text-color-hover);
  background-color: var(--control-secondary-bg-color-hover);
  border-color: var(--control-secondary-border-color-hover);
}

.dusk-anchor-button--variant--tertiary,
.dusk-anchor-button--variant--tertiary:visited {
  color: var(--control-tertiary-text-color);
  background-color: var(--control-tertiary-bg-color);
  border-color: var(--control-tertiary-border-color);
}

.dusk-anchor-button--variant--tertiary:not(
    .dusk-anchor-button--disabled
  ):active,
.dusk-anchor-button--variant--tertiary:not(
    .dusk-anchor-button--disabled
  ):hover {
  color: var(--control-tertiary-text-color-hover);
  background-color: var(--control-tertiary-bg-color-hover);
  border-color: var(--control-tertiary-border-color-hover);
}

.dusk-anchor-button.dusk-anchor-button--variant--quaternary {
  padding: 0 0.3em;
  font-weight: 700;
  line-height: 1.5;
  color: var(--control-text-color);
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

.dusk-anchor-button--variant--quaternary:not(
    .dusk-anchor-button--disabled
  ):hover,
.dusk-anchor-button--variant--quaternary:not(
    .dusk-anchor-button--disabled
  ):active {
  color: var(--secondary-color);
  background-color: inherit;
}
