.dusk-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  height: 100%;
}

.dusk-nav-list__link {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

.dusk-nav-list__link:after {
  content: " →";
  color: var(--light-grey);
}

@media (min-width: 1024px) {
  .dusk-nav-list {
    flex-direction: row;
    column-gap: 1.5rem;
    width: 100%;
    justify-content: center;
  }

  .dusk-nav-list__link {
    position: relative;
    font-size: 0.875rem;
  }

  .dusk-nav-list__link:after {
    content: "";
  }
}
