.dusk-checkbox {
  --_checkbox-bg-color: var(--interactive-toggle-off-color);
  --_checkbox-border-color: var(--interactive-toggle-off-border-color);
  --_checkbox-size: var(--interactive-toggle-standard-indicator-size);

  position: relative;
  display: inline-block;
  width: var(--_checkbox-size);
  height: var(--_checkbox-size);
  box-sizing: border-box;
  background-color: var(--_checkbox-bg-color);
  border-color: var(--_checkbox-border-color);
  border-style: solid;
  border-width: var(--interactive-control-border-width);
  border-radius: var(--interactive-control-border-radius-slight-size);
  transition: background-color 0.2s ease-in-out 0s;
  appearance: none;
  flex-shrink: 0;
}

.dusk-checkbox::after {
  --_checkbox-mark-color: var(--interactive-toggle-on-mark-color);

  position: absolute;
  bottom: 53%;
  left: 11%;
  display: inline-block;
  width: 0;
  height: 0;
  box-sizing: content-box;
  content: "";

  /**
   * 1/8 is an empirical ratio to keep the stroke proportionally
   * thick without relying on complex CSS geometry
   */
  border-right: calc(var(--_checkbox-size) / 8) solid
    var(--_checkbox-mark-color);
  border-bottom: calc(var(--_checkbox-size) / 8) solid
    var(--_checkbox-mark-color);
  opacity: 0;

  /* undraw sequence: hide long leg, then short leg, then fade out */
  transition:
    height 0.1s ease-out,
    width 0.1s ease-out 0.1s,
    opacity 0.2s ease-out;
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.dusk-checkbox:checked {
  --_checkbox-bg-color: var(--interactive-toggle-on-color);
  --_checkbox-border-color: var(--interactive-toggle-on-border-color);
}

.dusk-checkbox:checked::after {
  width: 30%;
  height: 55%;
  opacity: 1;

  /* draw sequence: show immediately, draw short leg, then draw long leg */
  transition:
    opacity 0s,
    width 0.1s ease-out,
    height 0.1s ease-out 0.1s;
}

.dusk-checkbox:disabled,
.dusk-checkbox:checked:disabled {
  /* workaround for Safari */
  pointer-events: none;
  opacity: 0.5;
}

.dusk-checkbox:enabled:focus-visible {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}
