.dusk-checkbox:enabled {
  transition-delay: 0s;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, transform;
}

.dusk-checkbox:enabled:focus {
  border-color: var(--secondary-color-variant-dark);
  outline: 0 none;
}

.dusk-checkbox {
  display: inline-block;
  width: var(--checkbox-control-size);
  height: var(--checkbox-control-size);
  background-color: transparent;
  border-color: var(--checkbox-control-border-color);
  border-style: solid;
  border-width: var(--checkbox-control-border-width);
  border-radius: var(--checkbox-control-border-radius);
  appearance: none;
  flex-shrink: 0;
}

.dusk-checkbox:checked {
  background-color: var(--checkbox-control-checked-bg-color);
}

.dusk-checkbox:disabled,
.dusk-checkbox:checked:disabled {
  /* workaround for Safari */
  pointer-events: none;
  opacity: 0.5;
}
