.dusk-switch {
  --_hover-scale: 1.1;
  --_switch-bg-color: var(--interactive-toggle-off-color);
  --_switch-border-color: var(--interactive-toggle-off-border-color);
  --_switch-mark-color: var(--interactive-toggle-off-mark-color);
  --_switch-mark-scale: 1;
  --_switch-mark-translate: 0px;
  --_switch-mark-size: calc(
    var(--interactive-toggle-standard-indicator-size) -
      (var(--interactive-toggle-track-offset) * 2) -
      (var(--interactive-control-border-width) * 2)
  );
  --_switch-track-block-size: var(--interactive-toggle-standard-indicator-size);
  --_switch-track-inline-size: var(
    --interactive-control-standard-min-block-size
  );
  --_switch-mark-travel: calc(
    var(--_switch-track-inline-size) - var(--_switch-mark-size) -
      (
        (
            var(--interactive-control-border-width) +
              var(--interactive-toggle-track-offset)
          ) *
          2
      )
  );

  position: relative;
  display: inline-grid;
  inline-size: var(--interactive-control-standard-min-block-size);
  block-size: var(--interactive-control-standard-min-block-size);
  box-sizing: border-box;
  place-items: center;
}

.dusk-switch::before {
  position: absolute;
  inline-size: var(--_switch-track-inline-size);
  block-size: var(--_switch-track-block-size);
  box-sizing: border-box;
  content: "";
  background-color: var(--_switch-bg-color);
  border-color: var(--_switch-border-color);
  border-style: solid;
  border-width: var(--interactive-control-border-width);
  border-radius: var(--interactive-control-border-radius-pill-size);
}

.dusk-switch--checked {
  --_switch-border-color: var(--interactive-toggle-on-border-color);
  --_switch-bg-color: var(--interactive-toggle-on-color);
  --_switch-mark-color: var(--interactive-toggle-on-mark-color);
  --_switch-mark-translate: var(--_switch-mark-travel);
}

.dusk-switch--checked:dir(rtl) {
  --_switch-mark-translate: calc(var(--_switch-mark-travel) * -1);
}

.dusk-switch::after {
  aspect-ratio: 1;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: calc(
    var(--interactive-control-border-width) +
      var(--interactive-toggle-track-offset)
  );
  block-size: var(--_switch-mark-size);
  display: block;
  content: "";
  background-color: var(--_switch-mark-color);
  border-radius: var(--interactive-control-border-radius-pill-size);
  transition: transform 0.3s ease-in-out 0s;
  transform: translateY(-50%) translateX(var(--_switch-mark-translate))
    scale(var(--_switch-mark-scale));
  transform-origin: center;
}

.dusk-switch:hover {
  --_switch-mark-scale: 1.1;
}

.dusk-switch[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
}

.dusk-switch:not([aria-disabled="true"]):focus-visible {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}
