.dusk-switch {
  --hover-scale: 1.1;

  width: 3rem;
  height: 1.5rem;
  box-sizing: content-box;
  padding: 0.25rem;
  background-color: var(--surface-color);
  border-color: var(--control-border-color);
  border-style: solid;
  border-width: var(--control-border-size);
  border-radius: var(--control-border-radius-size);
}

.dusk-switch::after {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  border-radius: var(--control-border-radius-size);
  transition: transform 0.3s ease-in-out 0s;
}

.dusk-switch[aria-checked="false"][aria-disabled="false"]:hover::after {
  transform: scale(var(--hover-scale));
}

.dusk-switch[aria-checked="true"]::after {
  background-color: var(--secondary-color);
  transform: translateX(100%);
}

.dusk-switch[aria-checked="true"][aria-disabled="false"]:hover::after {
  transform: translateX(100%) scale(var(--hover-scale));
}

.dusk-switch[aria-checked="false"]::after {
  background-color: var(--primary-color);
}

.dusk-switch[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}
