.dusk-switch {
  --_hover-scale: 1.1;
  --_switch-bg-color: var(--interactive-toggle-off-color);
  --_switch-border-color: var(--interactive-toggle-off-border-color);
  --_switch-mark-color: var(--interactive-toggle-off-mark-color);
  --_switch-mark-scale: 1;
  --_switch-mark-translate: 0%;
  --_switch-track-inner-size: calc(
    var(--interactive-toggle-standard-indicator-size) -
      (var(--interactive-toggle-track-offset) * 2) -
      (var(--interactive-control-border-width) * 2)
  );

  block-size: var(--_switch-track-inner-size);
  inline-size: calc(var(--_switch-track-inner-size) * 2);
  box-sizing: content-box;
  padding: var(--interactive-toggle-track-offset);
  background-color: var(--_switch-bg-color);
  border-color: var(--_switch-border-color);
  border-style: solid;
  border-width: var(--interactive-control-border-width);
  border-radius: var(--interactive-control-border-radius-pill-size);
}

.dusk-switch--checked {
  --_switch-border-color: var(--interactive-toggle-on-border-color);
  --_switch-bg-color: var(--interactive-toggle-on-color);
  --_switch-mark-color: var(--interactive-toggle-on-mark-color);
  --_switch-mark-translate: 100%;
}

.dusk-switch::after {
  aspect-ratio: 1;
  block-size: 100%;
  display: block;
  content: "";
  background-color: var(--_switch-mark-color);
  border-radius: var(--interactive-control-border-radius-pill-size);
  transition: transform 0.3s ease-in-out 0s;
  transform: translateX(var(--_switch-mark-translate))
    scale(var(--_switch-mark-scale));
  transform-origin: center;
}

.dusk-switch:hover {
  --_switch-mark-scale: 1.1;
}

.dusk-switch[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
}

.dusk-switch:not([aria-disabled="true"]):focus-visible {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}
