.dusk-card {
  padding: 0;
  overflow: hidden;
  color: var(--on-surface-color);
  background-color: var(--surface-color);
  border: var(--control-border-size) solid var(--surface-border-color);
  border-radius: var(--control-border-radius-size);
}

.dusk-card__header-container,
.dusk-card__footer-container {
  padding: 0.875rem 1rem;
}

.dusk-card__body-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.dusk-card__header-container + .dusk-card__body-container,
.dusk-card__body-container + .dusk-card__footer-container {
  border-top: var(--control-border-size) solid var(--surface-border-color);
}

.dusk-card--gap--small > .dusk-card__body-container {
  gap: var(--small-gap);
}

.dusk-card--gap--default > .dusk-card__body-container {
  gap: var(--default-gap);
}

.dusk-card--gap--medium > .dusk-card__body-container {
  gap: var(--medium-gap);
}

.dusk-card--gap--large > .dusk-card__body-container {
  gap: var(--large-gap);
}
