.duk-toggle-group {
	@apply flex items-center justify-between gap-4;
}

.duk-toggle {
	@apply inline-block;

	&__button,
	&__switch {
		@apply hidden;

		&--inverted {
		}
	}

	& input:checked {
		~ ^&__switch-track {
			@apply transition-colors;
		}

		~ ^&__switch-thumb {
			@apply bg-gray translate-x-full;
		}

		~ ^&__label--button {
			@apply bg-gray;
		}
	}

	& input:disabled {
		~ ^&__switch-thumb {
			@apply bg-gray border-black;
		}
		~ ^&__switch-track {
			@apply bg-gray;
		}
	}

	&__switch-wrapper {
		@apply relative inline-block cursor-pointer select-none rounded-full bg-transparent align-middle;
	}

	&__switch-track {
		@apply block h-8 w-20 rounded-full bg-white;
	}

	&__switch-thumb {
		@apply absolute left-0 top-0 flex h-8 w-8 items-center justify-center rounded-full border-2 border-white bg-black transition-all duration-300 ease-in-out;

		.duk-icon {
			@apply h-5 w-5 text-white;
		}
	}

	&__label {
		&--button {
			@apply z-50 inline-block cursor-pointer rounded-md border border-black bg-transparent px-4 py-1 leading-tight transition duration-300 ease-in-out;
			/* @apply dark:text-white dark:border-white; */
		}
		&--switch {
			@apply hidden;
		}
		&--checkbox,
		&--radio {
			@apply flex items-center space-x-3;
		}
	}

	&__checkbox {
		@apply h-8 w-8 flex-shrink-0 appearance-none rounded-md border border-black bg-white;
		&:checked {
			background-image: url("./icons/checkbox.svg");
		}
	}

	&__radio {
		@apply h-8 w-8 flex-shrink-0 appearance-none rounded-full border border-black bg-white;
		&:checked {
			background-image: url("./icons/radio.svg");
		}
	}

	&--brand {
		& input:checked {
			~ ^^&__switch-thumb,
			~ ^^&__label--button {
				@apply bg-cornflower text-white;
			}
			&.duk-toggle__checkbox {
				background-image: url("./icons/checkbox-brand.svg");
			}
			&.duk-toggle__radio {
				background-image: url("./icons/radio-brand.svg");
			}
		}
	}
	/* &--brand-invert {
		^&__switch-thumb {
			@apply bg-cornflower text-white;
		}

		& input:checked {
			~ ^^&__switch-thumb,
			~ ^^&__label--button {
				@apply bg-black;
			}
		}
	}
	&--cta {
		& input:checked {
			~ ^^&__switch-thumb,
			~ ^^&__label--button {
				@apply bg-orange-500;
			}
		}
		&.duk-toggle__checkbox {
			background-image: url("./icons/checkbox-cta.svg");
		}
		&.duk-toggle__radio {
			background-image: url("./icons/radio-cta.svg");
		}
	}
	&--info {
		& input:checked {
			~ ^^&__switch-thumb,
			~ ^^&__label--button {
				@apply bg-blue-500;
			}
			&.duk-toggle__checkbox {
				background-image: url("./icons/checkbox-info.svg");
			}
			&.duk-toggle__radio {
				background-image: url("./icons/radio-info.svg");
			}
		}
	}
	&--success {
		& input:checked {
			~ ^^&__switch-thumb,
			~ ^^&__label--button {
				@apply bg-green-500;
			}
			&.duk-toggle__checkbox {
				background-image: url("./icons/checkbox-success.svg");
			}
			&.duk-toggle__radio {
				background-image: url("./icons/radio-success.svg");
			}
		}
	}
	&--warning {
		& input:checked {
			~ ^^&__switch-thumb,
			~ ^^&__label--button {
				@apply bg-yellow-500;
			}
			&.duk-toggle__checkbox {
				background-image: url("./icons/checkbox-warning.svg");
			}
			&.duk-toggle__radio {
				background-image: url("./icons/radio-warning.svg");
			}
		}
	}
	&--danger {
		& input:checked {
			~ ^^&__switch-thumb,
			~ ^^&__label--button {
				@apply bg-red-500;
			}
			&.duk-toggle__checkbox {
				background-image: url("./icons/checkbox-danger.svg");
			}
			&.duk-toggle__radio {
				background-image: url("./icons/radio-danger.svg");
			}
		}
	}*/
}

@tailwind base;
