.dusk-stepper {
  --_stepper-step-size: calc(var(--feedback-raw-text-size) * 2);
  --_stepper-filler-color: var(--feedback-meter-filler-bg-color);
  --_stepper-on-filler-color: var(--feedback-meter-filler-text-color);
  --_stepper-rail-color: var(--feedback-meter-track-bg-color);
  --_stepper-on-rail-color: var(--feedback-meter-track-text-color);

  position: relative;
  display: grid;
  width: 100%;
  row-gap: var(--feedback-box-standard-gap);
  grid-template-columns: repeat(var(--_stepper-columns), 1fr);
  justify-content: space-between;
}

.dusk-stepper::before,
.dusk-stepper::after {
  --_left-offset: calc(50% / var(--_stepper-columns));

  position: absolute;
  top: calc(var(--_stepper-step-size) / 2);
  left: var(--_left-offset);
  display: block;
  height: var(--feedback-meter-track-standard-block-size);
  content: "";
  border-radius: var(--feedback-box-radius-pill-size);
  transform: translateY(-50%);
}

.dusk-stepper::before {
  width: calc(100% - var(--_left-offset) * 2);
  background-color: var(--_stepper-rail-color);
}

.dusk-stepper::after {
  width: var(--_stepper-progress-size);
  background-color: var(--_stepper-filler-color);
}

.dusk-stepper__step {
  z-index: 1;
  display: inline-flex;
  width: var(--_stepper-step-size);
  height: var(--_stepper-step-size);
  margin: 0 auto;
  font-family: var(--feedback-raw-text-family);
  line-height: 1;
  color: var(--_stepper-on-rail-color);
  background-color: var(--_stepper-rail-color);
  border-radius: 50%;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}

.dusk-stepper__step--processed {
  color: var(--_stepper-on-filler-color);
  background-color: var(--_stepper-filler-color);
}

.dusk-stepper__step-label {
  overflow: hidden;
  font-family: var(--feedback-raw-text-family);
  font-size: var(--feedback-raw-text-size);
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  letter-spacing: var(--feedback-raw-text-letter-spacing);
  white-space: nowrap;
  grid-row: 2;
}

.dusk-stepper__step-label--invisible {
  visibility: hidden;
}
