.dusk-select:enabled {
  transition-delay: 0s;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, transform;
}

:is(.dusk-select:enabled):focus {
  border-color: var(--secondary-color-variant-dark);
  outline: 0 none;
  box-shadow: inset 0 0 0 var(--control-border-size)
    var(--secondary-color-variant-dark);
}

.dusk-select {
  display: inline-block;
  padding: var(--control-padding);
  padding-right: 2.25em;
  font-size: var(--control-font-size);
  background-color: var(--control-bg-color);
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--control-text-color) 50%
    ),
    linear-gradient(135deg, var(--control-text-color) 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position:
    calc(100% - 1.4em) 50%,
    calc(100% - 1em) 50%;
  background-size:
    0.4em 0.4em,
    0.4em 0.4em;
  border-color: var(--control-border-color);
  border-style: solid;
  border-width: var(--control-border-size);
  border-radius: var(--control-border-radius-size);
  appearance: none;
}

.dusk-select,
.dusk-select option {
  color: var(--control-text-color);
}

.dusk-select:disabled {
  opacity: 0.5;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.dusk-select::ms-expand {
  display: none;
}
