:root {
  /* Normalize fallbacks */
  --base-size-40: 40px;
  --color-attention-subtle: #fff4c2;
  --color-fg-default: var(--on-background-color);

  /**
   * We override this as the root will act as
   * the usual main container
   */
  background-color: var(--background-color);
}

/* quick override of the main font size for docs */
.sbdocs-content :is(a, blockquote, li, p, span, td, th) {
  font-size: 1rem;
}

.sbdocs-content :is(code, pre) {
  font-size: 0.9rem;
}

.prismjs span {
  font-size: inherit;
}
