:root {
  /* Normalize fallbacks */
  --base-size-40: 40px;
  --color-attention-subtle: #fff4c2;
  --color-fg-default: var(--on-background-color);

  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
