.dusk-progress-bar {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--progress-bg-color);
  border-radius: var(--control-border-radius-size);
}

.dusk-progress-bar--size--default {
  height: var(--progress-bar-default-height);
}

.dusk-progress-bar--size--small {
  height: var(--progress-bar-small-height);
}

.dusk-progress-bar__filler {
  position: relative;
  height: 100%;
  background-color: var(--progress-filler-color);
}

.dusk-progress-bar--rtl > .dusk-progress-bar__filler {
  margin-left: auto;
}

.dusk-progress-bar__filler--undetermined {
  width: 20%;
  animation: progressBarAnimation 2s infinite;
}

.dusk-progress-bar--rtl > .dusk-progress-bar__filler--undetermined {
  animation: progressBarAnimationRTL 2s infinite;
}

@keyframes progressBarAnimation {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

@keyframes progressBarAnimationRTL {
  0% {
    right: -20%;
  }

  100% {
    right: 100%;
  }
}
