.dusk-progress-bar {
  --_progress-track-bg-color: var(--feedback-meter-track-bg-color);
  --_progress-filler-bg-color: var(--feedback-meter-filler-bg-color);

  position: relative;
  inline-size: 100%;
  overflow-x: hidden;
  background-color: var(--_progress-track-bg-color);
  border-radius: var(--feedback-box-radius-rounded-size);
}

.dusk-progress-bar--size--default {
  block-size: var(--feedback-meter-track-standard-block-size);
}

.dusk-progress-bar--size--small {
  block-size: var(--feedback-meter-track-compact-block-size);
}

.dusk-progress-bar__filler {
  position: relative;
  block-size: 100%;
  background-color: var(--_progress-filler-bg-color);
}

.dusk-progress-bar__filler--undetermined {
  inline-size: 20%;
  animation: progressBarAnimation 2s infinite;
}

@keyframes progressBarAnimation {
  0% {
    inset-inline-start: -20%;
  }

  100% {
    inset-inline-start: 100%;
  }
}
