.dusk-copy-field {
  display: flex;
  align-items: center;
  gap: var(--interactive-control-standard-gap);
}

.dusk-copy-field--disabled .dusk-copy-field__button {
  pointer-events: none;
}

.dusk-copy-field__content {
  flex: 1;
}
