.dusk-drawer {
  position: fixed;
  z-index: 1000;
  color: var(--on-surface-color);
  pointer-events: none;
  background-color: var(--surface-color);
  border-color: var(--surface-border-color);
  border-style: solid;
  border-width: 0;
  transition: transform 0.24s ease-in-out;

  &.dusk-drawer--size--full {
    --drawer-size: 100%;
  }
}

.dusk-drawer--events-enabled {
  pointer-events: all;
}

.dusk-drawer--from--left,
.dusk-drawer--from--right {
  top: 0;
  width: var(--drawer-size);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &.dusk-drawer--open {
    transform: translateX(0);
  }

  &.dusk-drawer--size--default {
    --drawer-size: min(24rem, 95dvw);
  }

  &.dusk-drawer--size--large {
    --drawer-size: min(36rem, 95dvw);
  }

  &.dusk-drawer--size--small {
    --drawer-size: min(18rem, 95dvw);
  }
}

.dusk-drawer--from--left {
  left: 0;
  border-right-width: var(--control-border-size);
  transform: translateX(-100%);
}

.dusk-drawer--from--right {
  right: 0;
  border-left-width: var(--control-border-size);
  transform: translateX(100%);
}

.dusk-drawer--from--top,
.dusk-drawer--from--bottom {
  left: 0;
  width: 100%;
  height: var(--drawer-size);
  overflow-x: auto;
  overflow-y: hidden;

  &.dusk-drawer--open {
    transform: translateY(0);
  }

  &.dusk-drawer--size--small {
    --drawer-size: min(8rem, 90dvh);
  }

  &.dusk-drawer--size--default {
    --drawer-size: min(12rem, 90dvh);
  }

  &.dusk-drawer--size--large {
    --drawer-size: min(18rem, 90dvh);
  }
}

.dusk-drawer--from--top {
  top: 0;
  border-bottom-width: var(--control-border-size);
  transform: translateY(-100%);
}

.dusk-drawer--from--bottom {
  bottom: 0;
  border-top-width: var(--control-border-size);
  transform: translateY(100%);
}
