:root {
  /* Theme colours */

  --page-background-color: var(--smokey-black);
  --background-color: var(--light-grey);
  --background-color-alt: white;
  --primary-color: var(--smokey-black);
  --primary-color-variant-dark: black;
  --primary-color-variant-light: var(--jet);
  --secondary-color: var(--cornflower);
  --secondary-color-variant-dark: var(--cornflower-dark);
  --secondary-color-variant-light: var(--cornflower-light);
  --surface-color: var(--magnolia);
  --error-color: var(--error-500);
  --error-color-variant-dark: var(--error-700);
  --info-color: var(--info-500);
  --info-color-variant-dark: var(--info-700);
  --success-color: var(--success-500);
  --success-color-variant-dark: var(--success-700);
  --warning-color: var(--warning-500);
  --warning-color-variant-dark: var(--warning-700);
  --on-background-color: var(--smokey-black);
  --on-primary-color: var(--light-grey);
  --on-secondary-color: var(--smokey-black);
  --on-surface-color: var(--smokey-black);
  --on-error-color: white;
  --on-info-color: var(--smokey-black);
  --on-success-color: var(--smokey-black);
  --on-warning-color: var(--smokey-black);

  /* Typography */

  --main-font-family: "Soehne", "Helvetica Neue", helvetica, arial, sans-serif;
  --main-font-size: 16px;
  --mono-font-family: "Soehne Mono", monospace;

  /* Layout */

  --small-gap: 0.5rem;
  --default-gap: 1rem;
  --medium-gap: 1.25rem;
  --large-gap: 2rem;

  /* Focus ring */

  --focus-ring-color: blue;
  --focus-ring-offset: -0.125rem;
  --focus-ring-style: solid;
  --focus-ring-width: 0.125rem;

  /* Grid */

  --mobile-grid-template-columns: 1fr;
  --tablet-grid-template-columns: 1fr 1fr;
  --desktop-grid-template-columns: 1fr 1fr 1fr;

  /* Controls */

  --control-border-radius-size: 1.5rem;
  --control-border-size: 0.125rem;
  --control-font-size: 1rem;
  --control-icon-size: 2rem;
  --control-padding-block: 0.9rem;
  --control-padding-inline: 1.25rem;
  --control-padding: var(--control-padding-block) var(--control-padding-inline);
  --control-small-padding-block: 0.65rem;
  --control-small-padding-inline: 0.875rem;
  --control-small-padding: var(--control-small-padding-block)
    var(--control-small-padding-inline);
  --non-button-control-bg-color: white;
  --non-button-control-text-color: var(--smokey-black);
  --control-bg-color: white;
  --control-bg-color-hover: var(--cornflower);
  --control-border-color: transparent;
  --control-border-color-hover: transparent;
  --control-text-color: var(--smokey-black);
  --control-text-color-hover: var(--smokey-black);
  --control-secondary-bg-color: var(--smokey-black);
  --control-secondary-bg-color-hover: var(--cornflower);
  --control-secondary-border-color: transparent;
  --control-secondary-border-color-hover: transparent;
  --control-secondary-text-color: white;
  --control-secondary-text-color-hover: var(--smokey-black);
  --control-tertiary-bg-color: transparent;
  --control-tertiary-bg-color-hover: transparent;
  --control-tertiary-border-color: var(--smokey-black);
  --control-tertiary-border-color-hover: var(--granite-grey);
  --control-tertiary-text-color: var(--smokey-black);
  --control-tertiary-text-color-hover: var(--granite-grey);

  /* Anchors */

  --anchor-color: var(--on-background-color);
  --anchor-color-visited: var(--on-background-color);
  --anchor-color-hover: var(--secondary-color-variant-dark);
  --anchor-color-active: var(--secondary-color-variant-dark);

  /* Progress bars */

  --progress-bar-default-height: 0.6125rem;
  --progress-bar-small-height: calc(var(--progress-bar-default-height) / 2);
  --progress-bg-color: var(--primary-color);
  --progress-filler-color: var(--success-color);

  /* Stepper */

  --stepper-bar-height: 0.3125rem;
  --stepper-rail-color: var(--background-color);
  --stepper-rail-color-variant-secondary: var(--primary-color);
  --stepper-filler-color: var(--success-color);
  --stepper-on-filler-color: var(--on-success-color);
  --stepper-on-rail-color: var(--on-background-color);
  --stepper-on-rail-variant-secondary-color: var(--on-primary-color);

  /* Checkbox control */

  --checkbox-control-size: 1.2rem;
  --checkbox-control-border-radius: 20%;
  --checkbox-control-border-width: 0.2rem;
  --checkbox-control-border-color: var(--smokey-black);
  --checkbox-control-checked-bg-color: var(--smokey-black);

  /* Dividers */

  --divider-color-primary: var(--taupe-grey);

  /* Ribbon */

  --ribbon-color: var(--magnolia);
  --ribbon-bg-color: var(--cornflower);
}
