/* @define-mixin heading $size, $textSize, $lgTextSize, $leading, $tracking: default {
    &--$(size) {
      @apply text-[$(textSize)] leading-[$(leading)] tracking-[$(tracking)];
      @apply lg:text-[$(lgTextSize)];
      @mixin-content;
    }
  } */
.heading {
	--color-prop: var(--color, var(--color-smokey));
	--dark-color-prop: var(--dark-color, var(--colors-gray));
	--margin-prop: var(
		--margin,
		none
	); /* TODO This will need to be changed when we have the space scale.*/
	--margin-3xl-prop: var(--margin-3xl, var(--margin-prop));

	@apply text-smokey mb-[var(--margin-prop)] block break-words font-sans font-normal text-[color:var(--color-prop)];
	@apply lg:mb-[var(--margin-3xl-prop)]; /* FIXME Will need to be matched up will all view ports when we have the spacing in order. */
	@apply dark:text-[color:var(--dark-color-prop)];

	/* @mixin heading x-small, 24px, 30px, 136px; */

	&--x-small {
		@apply text-[24px] leading-[136%];
		@apply lg:text-[30px];
	}

	&--small {
		@apply text-[28px] leading-[120%] tracking-[-0.01em];
		@apply lg:text-[46px];
	}

	&--medium {
		@apply text-[32px] leading-[120%] tracking-[-0.01em];
		@apply lg:text-[58px];

		& > em::before {
			@apply mr-[1px] w-[30px];
		}

		@screen lg {
			& > em::before {
				@apply mr-[10px] w-[56px];
			}
		}
	}

	&--large {
		@apply text-[36px] leading-[100%] tracking-[-0.01em];
		@apply lg:text-[70px];

		& > em::before {
			@apply mr-[3px] w-[32px];
		}

		@screen lg {
			& > em::before {
				@apply mr-[18px] w-[70px];
			}
		}
	}

	&--x-large {
		@apply text-[43px] leading-[100%] tracking-[-0.01em];
		@apply lg:text-[100px];

		& > em::before {
			@apply mr-[5px] w-[32px];
		}

		& > em:not(:first-of-type) {
			&::before {
				@apply mr-[0.18em] w-[32px];
			}
		}

		@screen lg {
			& > em::before {
				@apply mr-[20px] w-[93px];
			}
		}
	}

	&--display {
		@apply text-[48px] leading-[100%] tracking-[-0.01em];
		/* @apply md:text-[96px]; TODO Check if this is approved, this isn't in spec, but should to be added for smaller screens */
		@apply lg:text-[155px];

		& > em::before {
			@apply w-[30px];
		}

		& > em:not(:first-of-type) {
			&::before {
				@apply mr-[0.18em] w-[30px];
			}
		}

		@screen lg {
			& > em::before {
				@apply w-[93px];
			}
		}
	}

	& > em {
		@apply not-italic;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg height='2' viewBox='0 0 93 2' fill='none' stroke='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='93' y2='1' stroke-width='2'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			height: 0.8em;
			content: "";
			display: inline-block;
			background-position-y: center;
		}
	}

	.dark & > em {
		@apply not-italic;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg height='2' viewBox='0 0 93 2' fill='none' stroke='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='93' y2='1' stroke-width='2'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			height: 0.8em;
			content: "";
			display: inline-block;
			background-position-y: center;
		}
	}

	& > svg {
		@apply inline-block;
	}
}
