.dusk-content-switch {
  display: flex;
  width: fit-content;
  max-width: 100%;
  padding: var(--interactive-toggle-track-offset);
  overflow-x: hidden;
  list-style-type: none;
  cursor: default;
  user-select: none;
  background-color: var(--interactive-field-bg-color);
  border-radius: var(--interactive-control-border-radius-rounded-size);
  align-items: center;
  gap: var(--interactive-toggle-track-offset);
}

.dusk-content-switch__tab-item {
  --_item-bg-color: transparent;
  --_item-text-color: var(--interactive-field-text-color);

  display: inline-flex;
  align-items: center;
  gap: var(--interactive-control-standard-gap);
  flex: 0 2 auto;
  min-inline-size: 3em;
  min-block-size: var(--interactive-control-standard-min-block-size);
  padding-block: var(--interactive-control-standard-padding-block);
  padding-inline: var(--interactive-control-standard-padding-inline);
  font-size: var(--interactive-control-standard-text-size);
  line-height: 1.5;
  color: var(--_item-text-color);
  background-color: var(--_item-bg-color);
  border-radius: var(--interactive-control-border-radius-rounded-size);
  transition:
    flex-shrink 0.3s ease-in-out,
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.dusk-content-switch__tab-item:focus-visible {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}

.dusk-content-switch__tab-item:hover:not([aria-selected="true"]) {
  --_item-bg-color: var(--interactive-selection-hover-bg-color);
  --_item-text-color: var(--interactive-selection-hover-text-color);
}

.dusk-content-switch__tab-item--expanded {
  flex-shrink: 0;
}

.dusk-content-switch__tab-item[aria-selected="true"] {
  --_item-bg-color: var(--interactive-selection-bg-color);
  --_item-text-color: var(--interactive-selection-text-color);
}

.dusk-content-switch__tab-label {
  display: inline-block;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
