.dusk-content-switch {
  display: flex;
  padding: 0.1875rem;
  overflow: hidden;
  list-style-type: none;
  cursor: default;
  user-select: none;
  background-color: var(--content-switch-rail);
  border: var(--control-border-size) solid var(--surface-border-color);
  border-radius: var(--control-border-radius-size);
  align-items: center;
  gap: 0.1875rem;
}

.dusk-content-switch__tab-item {
  display: inline-flex;
  align-items: center;
  gap: var(--small-gap);
  min-width: 3rem;
  padding: var(--control-small-padding);
  font-size: var(--control-font-size);
  font-weight: 500;
  line-height: 1;
  border-radius: calc(var(--control-border-radius-size) - 0.1875rem);
  transition:
    flex-shrink 0.3s ease-in-out 0s,
    background-color 0.2s ease-in-out;
  flex: 0 2 auto;
}

.dusk-content-switch__tab-item:hover:not(
    .dusk-content-switch__tab-item--selected
  ) {
  background-color: var(--content-switch-hover-background-color);
}

.dusk-content-switch__tab-item--expanded {
  flex-shrink: 0;
}

.dusk-content-switch__tab-item--selected {
  color: var(--content-switch-selected-color);
  background-color: var(--content-switch-selected-background-color);
}

.dusk-content-switch__tab-label {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}
