.duk-cta-list {
	@apply text-smokey flex flex-col gap-y-3;

	&--unordered {
		@apply list-none;
		& ^&__item {
			&--content {
				@apply mb-20 pl-8;
			}
		}
	}

	&--ordered {
		@apply list-decimal list-none;
		counter-reset: duk-list-item;

		& ^&__item {
			@apply flex items-center pl-5;
			counter-increment: duk-list-item;

			&:before {
				@apply mr-6 flex h-16 w-16 items-center justify-center rounded-full text-center text-2xl font-bold;
				content: counter(duk-list-item);
				min-width: 2.5rem;
				min-height: 2.5rem;
			}
		}

		&^&--brand {
			^^&__item:before {
				@apply bg-cornflower text-white;
			}
		}
		/* &^&--cta {
			^^&__item:before {
				@apply bg-gold-500 text-black;
			}
		}
		&^&--info {
			^^&__item:before {
				@apply bg-blue-500 text-black;
			}
		}
		&^&--success {
			^^&__item:before {
				@apply bg-green-500 text-black;
			}
		}
		&^&--warning {
			^^&__item:before {
				@apply bg-yellow-500 text-black;
			}
		}
		&^&--danger {
			^^&__item:before {
				@apply bg-red-500 text-black;
			}
		} */
	}
}
