.dusk-suspense {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dusk-suspense.dusk-suspense--gap--default {
  gap: var(--default-gap);
}

.dusk-suspense.dusk-suspense--gap--large {
  gap: var(--large-gap);
}

.dusk-suspense.dusk-suspense--gap--medium {
  gap: var(--medium-gap);
}

.dusk-suspense.dusk-suspense--gap--small {
  gap: var(--small-gap);
}
