.dusk-suspense {
  display: flex;
  flex-direction: column;
}

.dusk-suspense--gap--large {
  gap: var(--layout-box-relaxed-gap);
}

.dusk-suspense--gap--medium {
  gap: var(--layout-box-standard-gap);
}

.dusk-suspense--gap--small {
  gap: var(--layout-box-compact-gap);
}

.dusk-suspense__throbber,
.dusk-suspense__pending-message {
  align-self: center;
}
