.dusk-textbox:enabled {
  transition-delay: 0s;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, transform;
}

:is(.dusk-textbox:read-write:enabled):focus {
  border-color: var(--secondary-color-variant-dark);
  outline: 0 none;
  box-shadow: inset 0 0 0 var(--control-border-size)
    var(--secondary-color-variant-dark);
}

.dusk-textbox {
  padding: var(--control-padding);
  font-size: var(--control-font-size);
  color: var(--control-text-color);
  background-color: var(--control-bg-color);
  border-color: var(--control-border-color);
  border-style: solid;
  border-width: var(--control-border-size);
  border-radius: var(--control-border-radius-size);
}

.dusk-textbox:disabled,
.dusk-textbox::placeholder {
  opacity: 0.5;
}

.dusk-textbox:read-only {
  outline: 0 none;
}

.dusk-textbox.dusk-textbox-multiline {
  line-height: 1.3;
}
