.dusk-textbox {
  --_textbox-bg-color: var(--interactive-field-bg-color);
  --_textbox-border-color: var(--interactive-field-border-color);
  --_textbox-text-color: var(--interactive-field-text-color);

  min-block-size: var(--interactive-control-standard-min-block-size);
  padding-block: var(--interactive-control-standard-padding-block);
  padding-inline: var(--interactive-control-standard-padding-inline);
  font-family: inherit;
  font-size: var(--interactive-control-standard-text-size);
  line-height: inherit;
  color: var(--_textbox-text-color);
  letter-spacing: inherit;
  background-color: var(--_textbox-bg-color);
  border: var(--interactive-control-border-width) solid
    var(--_textbox-border-color);
  border-radius: var(--interactive-control-border-radius-rounded-size);
}

.dusk-textbox::placeholder {
  color: var(--_textbox-text-color);
}

.dusk-textbox:disabled,
.dusk-textbox::placeholder {
  opacity: 0.5;
}

.dusk-textbox:invalid {
  --_textbox-bg-color: var(--interactive-field-invalid-bg-color);
  --_textbox-border-color: var(--interactive-field-invalid-border-color);
  --_textbox-text-color: var(--interactive-field-invalid-text-color);
}

.dusk-textbox:read-only {
  outline: 0 none;
  opacity: 0.5;
}

.dusk-textbox:read-write:enabled:focus {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}

.dusk-textbox.dusk-textbox-multiline {
  line-height: 1.3;
}
