.dusk-textbox {
  padding: var(--control-small-padding);
  font-family: inherit;
  font-size: var(--control-font-size);
  line-height: 1.4;
  color: var(--non-button-control-text-color);
  letter-spacing: 0;
  background-color: var(--non-button-control-bg-color);
  border-color: var(--surface-border-color);
  border-style: solid;
  border-width: var(--control-border-size);
  border-radius: var(--control-border-radius-size);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.dusk-textbox::placeholder {
  color: var(--muted-color);
}

.dusk-textbox:disabled,
.dusk-textbox::placeholder {
  opacity: 0.5;
}

.dusk-textbox:not(:focus):invalid {
  color: var(--error-color);
}

.dusk-textbox:read-write:enabled:hover {
  border-color: var(--surface-border-color-hover);
}

.dusk-textbox:read-only {
  outline: 0 none;
  opacity: 0.5;
}

.dusk-textbox.dusk-textbox-multiline {
  line-height: 1.3;
}
