/* General Styles */

.dusk-button,
.dusk-anchor-button,
.dusk-anchor-button:visited {
  --_button-bg-color: transparent;
  --_button-border-color: transparent;
  --_button-text-color: inherit;
  --_button-scale: 1;

  display: inline-flex;
  font-family: inherit;
  line-height: 1.5;
  color: var(--_button-text-color);
  letter-spacing: inherit;
  background-color: var(--_button-bg-color);
  border-color: var(--_button-border-color);
  border-style: solid;
  border-width: var(--interactive-control-border-width);
  border-radius: var(--interactive-control-border-radius-rounded-size);
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, box-shadow, color, scale;
  transform-origin: center center;
  scale: var(--_button-scale);
  align-items: center;
  justify-content: center;
}

.dusk-button:enabled:active,
.dusk-anchor-button:active,
.dusk-button[aria-pressed="true"] {
  --_button-scale: 0.98;
}

.dusk-button--variant--naked.dusk-icon-button:enabled:hover:not(:active),
.dusk-anchor-button--variant--naked:not(
    [aria-disabled="true"]
  ).dusk-icon-button:hover:not(:active) {
  --_button-scale: 1.1;
}

/* Anchor Button specifics */

.dusk-anchor-button {
  text-align: center;
  text-decoration: none;
  appearance: auto;
}

.dusk-anchor-button[aria-disabled="true"] {
  pointer-events: none;
  cursor: default;
}

/* Icon Button specifics */

.dusk-button.dusk-icon-button:enabled:active,
.dusk-anchor-button.dusk-icon-button:active,
.dusk-button.dusk-icon-button[aria-pressed="true"] {
  --_button-scale: 0.9;
}

:is(
  .dusk-button--variant--primary,
  .dusk-button--variant--secondary,
  .dusk-button--variant--tertiary,
  .dusk-button--variant--naked
)[aria-pressed="true"] {
  box-shadow: inset 0 1px 1px var(--_button-text-color);

  &:hover {
    --_button-scale: 1;
  }
}

/* Primary variant */

.dusk-button--variant--primary,
.dusk-anchor-button--variant--primary,
.dusk-anchor-button--variant--primary:visited {
  --_button-bg-color: var(--interactive-action-primary-bg-color);
  --_button-border-color: var(--interactive-action-primary-border-color);
  --_button-text-color: var(--interactive-action-primary-text-color);
}

.dusk-button--variant--primary:enabled:hover,
.dusk-button--variant--primary:enabled:active,
.dusk-anchor-button--variant--primary:hover,
.dusk-anchor-button--variant--primary:active,
.dusk-button--variant--primary[aria-pressed="true"] {
  --_button-bg-color: var(--interactive-action-primary-bg-hover-color);
  --_button-border-color: var(--interactive-action-primary-border-hover-color);
  --_button-text-color: var(--interactive-action-primary-text-hover-color);
}

/* Secondary variant */

.dusk-button--variant--secondary,
.dusk-anchor-button--variant--secondary,
.dusk-anchor-button--variant--secondary:visited {
  --_button-bg-color: var(--interactive-action-secondary-bg-color);
  --_button-border-color: var(--interactive-action-secondary-border-color);
  --_button-text-color: var(--interactive-action-secondary-text-color);
}

.dusk-button--variant--secondary:enabled:hover,
.dusk-button--variant--secondary:enabled:active,
.dusk-anchor-button--variant--secondary:hover,
.dusk-anchor-button--variant--secondary:active,
.dusk-button--variant--secondary[aria-pressed="true"] {
  --_button-bg-color: var(--interactive-action-secondary-bg-hover-color);
  --_button-border-color: var(
    --interactive-action-secondary-border-hover-color
  );
  --_button-text-color: var(--interactive-action-secondary-text-hover-color);
}

/* Tertiary variant */

.dusk-button--variant--tertiary,
.dusk-anchor-button--variant--tertiary,
.dusk-anchor-button--variant--tertiary:visited {
  --_button-bg-color: var(--interactive-action-tertiary-bg-color);
  --_button-border-color: var(--interactive-action-tertiary-border-color);
  --_button-text-color: var(--interactive-action-tertiary-text-color);
}

.dusk-button--variant--tertiary:enabled:hover,
.dusk-button--variant--tertiary:enabled:active,
.dusk-anchor-button--variant--tertiary:hover,
.dusk-anchor-button--variant--tertiary:active,
.dusk-button--variant--tertiary[aria-pressed="true"] {
  --_button-bg-color: var(--interactive-action-tertiary-bg-hover-color);
  --_button-border-color: var(--interactive-action-tertiary-border-hover-color);
  --_button-text-color: var(--interactive-action-tertiary-text-hover-color);
}

/* Naked variant */

.dusk-button--variant--naked,
.dusk-anchor-button--variant--naked,
.dusk-anchor-button--variant--naked:visited {
  --_button-bg-color: var(--interactive-action-naked-bg-color);
  --_button-border-color: var(--interactive-action-naked-border-color);
  --_button-text-color: var(--interactive-action-naked-text-color);
}

.dusk-button--variant--naked:enabled:hover,
.dusk-button--variant--naked:enabled:active,
.dusk-anchor-button--variant--naked:hover,
.dusk-anchor-button--variant--naked:active,
.dusk-button--variant--naked[aria-pressed="true"] {
  --_button-bg-color: var(--interactive-action-naked-bg-hover-color);
  --_button-border-color: var(--interactive-action-naked-border-hover-color);
  --_button-text-color: var(--interactive-action-naked-text-hover-color);
}

/* Disabled status */

.dusk-button:disabled,
.dusk-anchor-button[aria-disabled="true"],
.dusk-anchor-button[aria-disabled="true"]:hover,
.dusk-anchor-button[aria-disabled="true"]:visited {
  opacity: 0.5;
}

/* Focus */

:is(
  .dusk-anchor-button:not([aria-disabled="true"]),
  .dusk-button:enabled
):focus-visible {
  outline: var(--interactive-control-focus-ring-outline);
  outline-offset: var(--interactive-control-focus-ring-outline-offset);
}

/* Sizes */

.dusk-button--size--small,
.dusk-anchor-button--size--small,
.dusk-anchor-button--size--small:visited {
  --_button-touch-target-size: var(
    --interactive-control-compact-min-block-size
  );

  min-block-size: var(--interactive-control-compact-min-block-size);
  padding-block: var(--interactive-control-compact-padding-block);
  padding-inline: var(--interactive-control-compact-padding-inline);
  font-size: var(--interactive-control-compact-text-size);
  gap: var(--interactive-control-compact-gap);
}

.dusk-button--size--default,
.dusk-anchor-button--size--default,
.dusk-anchor-button--size--default:visited {
  --_button-touch-target-size: var(
    --interactive-control-standard-min-block-size
  );

  min-block-size: var(--interactive-control-standard-min-block-size);
  padding-block: var(--interactive-control-standard-padding-block);
  padding-inline: var(--interactive-control-standard-padding-inline);
  font-size: var(--interactive-control-standard-text-size);
  gap: var(--interactive-control-standard-gap);
}

.dusk-icon-button.dusk-button--size--small,
.dusk-icon-button.dusk-anchor-button--size--small,
.dusk-icon-button.dusk-anchor-button--size--small:visited {
  aspect-ratio: 1;
  padding-inline: var(--interactive-control-compact-padding-block);
}

.dusk-icon-button.dusk-button--size--default,
.dusk-icon-button.dusk-anchor-button--size--default,
.dusk-icon-button.dusk-anchor-button--size--default:visited {
  aspect-ratio: 1;
  padding-inline: var(--interactive-control-standard-padding-block);
}

/* Text */

.dusk-button__text,
.dusk-anchor-button__text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}
