.dusk-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--interactive-control-standard-gap);
}

.dusk-agreement__label {
  font-family: inherit;
  font-size: var(--interactive-control-standard-text-size);
  line-height: 1.5;
  letter-spacing: inherit;
}
