.dusk-banner {
  display: flex;
  width: 100%;
  padding: 0.875rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--on-surface-color);
  background-color: var(--surface-color);
  border-style: solid;
  border-width: var(--control-border-size);
  border-radius: var(--control-border-radius-size);
  align-items: center;
}

.dusk-banner--variant--error {
  border-color: var(--error-color-variant-dark);
}

.dusk-banner--variant--error .dusk-banner__icon {
  fill: var(--error-color-variant-dark);
}

.dusk-banner--variant--info {
  border-color: var(--info-color-variant-dark);
}

.dusk-banner--variant--info .dusk-banner__icon {
  fill: var(--info-color-variant-dark);
}

.dusk-banner--variant--success {
  border-color: var(--success-color-variant-dark);
}

.dusk-banner--variant--success .dusk-banner__icon {
  fill: var(--success-color-variant-dark);
}

.dusk-banner--variant--warning {
  border-color: var(--warning-color-variant-dark);
}

.dusk-banner--variant--warning .dusk-banner__icon {
  fill: var(--warning-color-variant-dark);
}

.dusk-banner__title {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.35;
}

.dusk-banner__icon {
  margin-right: var(--default-gap);
  flex-shrink: 0;
}
